.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 15vh;
}

.login-form {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
}

mat-form-field {
    width: 100%;
}

button[type="submit"] {
    margin-top: 1rem;
    color: #fff;
    background-color: #320153;
}

mat-checkbox {
    margin-top: 1rem;
}

.signup-link {
    text-align: center;
    margin-top: 1rem;
}

a{
    color:#320153;
}
.login-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}