.cart-container {
    padding: 16px;
    background-color: #eddef3;
    border-radius: 8px;
    border:#320153;
    max-width: 600px;
    margin: auto;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .cart-item p {
    margin: 0;
  }
  
  button {
    background-color:white;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  