.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  mat-card {
    width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  mat-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  mat-card img {
    height: 165px;
    object-fit:contain;
  }
  
  mat-card-title, mat-card-subtitle {
    text-align: center;
  }
  
  mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #555;
  }

  

  
  .sort-dropdown {
    display: flex;
    align-items: center;
  }
  
  .full-width {
    width: 100%;
    margin-right: 10px;
  }
  

  .control-bar {
    width: 100%;
    margin-bottom: 10px;
    padding-left:20px;
    display: flex;
    align-items: center;
  }
  
  .fixed-width {
    width: 100px; 
  }
  
  .sort-chip-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
  }

  