<div fxLayoutAlign="center center">
  <mat-form-field>
    <input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Search">
  </mat-form-field>
</div>

<mat-paginator [pageSize]="3" [pageSizeOptions]="[3,6,9]"></mat-paginator>

<div class="container">
  <div *ngFor="let product of productSource.connect() | async">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.type}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="product.imageUrl" [alt]="">
      <mat-card-content>
        <p>Price: {{product.price}} RSD</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
